In [4]:
import os, sys

sys.path.append(os.path.dirname(os.path.dirname(os.path.abspath("__file__"))))
from nbafuns import *

data_DIR = "../data/bbref/"
aio_DIR = "../data/all_in_one_metrics/"

In [6]:
dfd = pd.read_csv(aio_DIR + "NBA_DARKO_History.csv")
# dfd = dfd.rename(columns={"idPlayerNBA":"pID"})
# dfd = dfd[["pID","season","dpm","o_dpm","d_dpm"]]

In [8]:
dfd.sort_values("season")

           pID  season       dpm     o_dpm     d_dpm
0            2    1997  0.458225  1.058545 -0.600320
832        288    1997 -1.230712 -1.432721  0.202010
837        291    1997 -2.286486 -2.270659 -0.015827
838        292    1997 -1.987904 -1.570905 -0.417000
2528      1065    1997 -1.856236 -0.950343 -0.905893
...        ...     ...       ...       ...       ...
12865  1629675    2024 -0.371522 -0.366776 -0.004746
8348    201935    2024  3.895370  3.275692  0.619679
10243   203486    2024 -0.828314 -1.545326  0.717012
12842  1629669    2024 -2.175029 -1.223984 -0.951045
13716  1641936    2024 -2.080766 -1.927990 -0.152776

[13717 rows x 5 columns]