In [7]:
import pandas as pd

In [14]:
year = 2020
league, league_id, season = 'NBA','00',str(year)+'-'+str(year+1)[-2:]
df1 = pd.read_csv(f'fdata/NBA_BS_Stats_{year}_{year+1}.csv')
df2 = pd.read_csv(f'fdata/NBA_BS_Shot_{year}_{year+1}.csv')
df3 = pd.read_csv(f'fdata/NBA_BS_Def_{year}_{year+1}.csv')
df4 = pd.read_csv(f'fdata/NBA_BS_Hus_{year}_{year+1}.csv')

In [20]:
df5 = pd.read_csv(f'fdata/NBA_RAPM_3Y_{year-2}_{year+1}.csv')
df5 = df5[['PLAYER_ID','RAPM']]
df5.head()

   PLAYER_ID  RAPM
0     101112 -2.44
1    1627745 -2.88
2    1629745 -0.28
3    1627783  4.72
4    1629750 -0.17

In [21]:
df = pd.merge(df1,df2,how='inner',on=['PLAYER_ID'])
df = pd.merge(df,df3,how='inner',on=['PLAYER_ID'])
df = pd.merge(df,df4,how='inner',on=['PLAYER_ID'])
df = pd.merge(df,df5,how='inner',on=['PLAYER_ID'])

In [22]:
df.head()

,PLAYER_ID,PLAYER_NAME,MIN,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,...,D_FGM,D_FGA,D_FG_PCT,CONTESTED_SHOTS,DEFLECTIONS,CHARGES_DRAWN,SCREEN_ASSISTS,LOOSE_BALLS_RECOVERED,BOX_OUTS,RAPM
0,203932,Aaron Gordon,27.7,1.9,3.0,0.651,1.5,4.1,5.7,3.2,...,4.08,9.34,0.437,3.78,1.02,0.00,0.52,0.64,0.38,2.47
1,1628988,Aaron Holiday,17.8,1.0,1.3,0.819,0.2,1.1,1.3,1.9,...,3.00,6.46,0.464,3.09,1.47,0.00,0.03,0.39,0.42,1.50
2,1630174,Aaron Nesmith,14.5,0.5,0.6,0.786,0.6,2.2,2.8,0.5,...,2.56,5.62,0.457,2.87,0.52,0.02,0.13,0.57,0.46,-0.27
3,1627846,Abdel Nader,14.8,1.2,1.5,0.757,0.3,2.3,2.6,0.8,...,2.37,6.11,0.388,3.17,0.75,0.00,0.04,0.38,0.50,-3.29
4,1629690,Adam Mokoka,4.0,0.0,0.1,0.000,0.1,0.3,0.4,0.4,...,0.50,2.00,0.250,0.29,0.29,0.00,0.00,0.07,0.21,1.17

In [23]:
df.columns

Index(['PLAYER_ID', 'PLAYER_NAME', 'MIN', 'FTM', 'FTA', 'FT_PCT', 'OREB',
       'DREB', 'REB', 'AST', 'TOV', 'STL', 'BLK', 'BLKA', 'PF', 'PTS',
       'PLUS_MINUS', 'FG2A_FREQUENCY', 'FG2M', 'FG2A', 'FG2_PCT',
       'FG3A_FREQUENCY', 'FG3M', 'FG3A', 'FG3_PCT', 'D_FGM', 'D_FGA',
       'D_FG_PCT', 'CONTESTED_SHOTS', 'DEFLECTIONS', 'CHARGES_DRAWN',
       'SCREEN_ASSISTS', 'LOOSE_BALLS_RECOVERED', 'BOX_OUTS', 'RAPM'],
      dtype='object')