In [1]:
import os, sys

sys.path.append(os.path.dirname(os.path.dirname(os.path.abspath("__file__"))))
from nbafuns import *

img_DIR_T = "../data/images/teams/"
fig_DIR = "../figs/teams/"

In [2]:
dft = pd.read_csv("../data/NBA_teams_colors_logos.csv")
dft = dft.sort_values("nameTeam")
teams1 = dft["teamTricode"].to_list()

In [3]:
teams2 = ['ATL','BOS','NJN','CHA','CHI','CLE','DAL','DEN','DET','GSW','HOU','IND','LAC','LAL','MEM','MIA','MIL','MIN','NOH','NYK','OKC','ORL','PHI','PHO','POR','SAC','SAS','TOR','UTA','WAS']

In [5]:
dfa = []
for t in teams2:
    url = f"https://www.basketball-reference.com/teams/{t}/coaches.html"
    df1 = pd.read_html(url)
    df1 = df1[0]
    dfa.append(df1)
    time.sleep(3)

In [6]:
dfb = []
for t,d in zip(teams1,dfa):
   df1 = d.copy()
   df1.columns = ['Rk', 'Coach', 'From', 'To', 'Yrs', 'G_RS', 'W_RS', 'L_RS', 'WL_P_RS', 'W_500_RS',
      'Plyfs', 'G_PS', 'W_PS', 'L_PS', 'WL_P_PS', 'Conf', 'Champ']
   df1 = df1.drop(df1[df1["From"].isna()].index,axis=0)
   df1 = df1.query("From != 'From'")
   df1["From"] = df1["From"].astype(float)
   df1["To"] = df1["To"].astype(float)
   df1["Team"] = t
   df1 = df1.sort_values(["From","To"])
   dfb.append(df1)
df2 = pd.concat(dfb)
df2 = df2.iloc[:-1,]

In [7]:

df2["From"] = df2["From"].astype(int)
df2["To"] = df2["To"].astype(int)
df2["Yrs"] = df2["Yrs"].astype(int)

In [10]:
df3 = df2.query("To > 2013")

In [20]:
teams1

['ATL',
 'BOS',
 'BKN',
 'CHA',
 'CHI',
 'CLE',
 'DAL',
 'DEN',
 'DET',
 'GSW',
 'HOU',
 'IND',
 'LAC',
 'LAL',
 'MEM',
 'MIA',
 'MIL',
 'MIN',
 'NOP',
 'NYK',
 'OKC',
 'ORL',
 'PHI',
 'PHX',
 'POR',
 'SAC',
 'SAS',
 'TOR',
 'UTA',
 'WAS']

In [24]:
t = teams1[5]
df3.query(f"Team == '{t}'")

,Rk,Coach,From,To,Yrs,G_RS,W_RS,L_RS,WL_P_RS,W_500_RS,Plyfs,G_PS,W_PS,L_PS,WL_P_PS,Conf,Champ,Team
5,6,Mike Brown,2006,2014,6,492,305,187,.620,59.0,5,71,42,29,.592,1,0,CLE
4,5,David Blatt,2015,2016,2,123,83,40,.675,21.5,1,20,14,6,.700,1,0,CLE
15,16,Tyronn Lue,2016,2019,4,211,128,83,.607,22.5,3,61,41,20,.672,3,1,CLE
8,9,Larry Drew,2019,2019,1,76,19,57,.250,-19.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CLE
2,3,John Beilein,2020,2020,1,54,14,40,.259,-13.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CLE
3,4,J.B. Bickerstaff,2020,2024,5,329,170,159,.517,5.5,2,17,6,11,.353,0,0,CLE
1,2,Kenny Atkinson,2025,2025,1,31,27,4,.871,11.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CLE

In [11]:
df4 = df3.groupby("Team")[["Yrs"]].agg({"Yrs":["mean","count"]}).reset_index()
df4.columns = ["Team","Years","Coaches"]
df4["Years"] = df4["Years"].round(2)
df4 = df4.sort_values("Coaches").reset_index(drop=True).reset_index()
df4["index"] +=1
df5 = pd.merge(dft[["teamTricode","nameTeam"]],df4,left_on="teamTricode",right_on="Team")
df5 = df5.sort_values("index")
df5 = df5[['index','nameTeam','Team','Years', 'Coaches']]

In [12]:
# df6 = df5.head(10)

In [18]:
# t = (
#     GT(df6)
#     .tab_header(
#         title=md("Coaching Stability"),
#         subtitle="Since 2000"
#     )
#     .tab_source_note(source_note="@SravanNBA | source: basketballreference")
#     .cols_label(
#         nameTeam = "",
#         Years = "Avg Coach Yrs",
#     )
#     .fmt_image(
#         columns="nameTeam",
#         path = img_DIR_T,
#         file_pattern="{}.png"
#     )
#     .cols_align(align="center")
#     .cols_align(align="left", columns="Team")
#     .tab_options(
#         heading_title_font_size="150%",
#         heading_subtitle_font_size="110%",
#         # heading_title_font_weight='bold',
#         table_background_color="floralwhite",
#         column_labels_font_size="105%",
#         column_labels_font_weight='bold',
#         row_group_font_weight='bold',
#         row_group_background_color="#E5E1D8",
#         table_font_size=10,
#         table_font_names="Consolas", 
#         data_row_padding = "3px",
#         table_margin_left = 1,
#         table_margin_right = 1,
#     )
# )
# t.save(fig_DIR + "coaching_stability.png",scale=3,expand=2,web_driver="edge")
# t

In [19]:
df5

    index                nameTeam Team  Years  Coaches
26      1       San Antonio Spurs  SAS  29.00        1
15      2              Miami Heat  MIA  17.00        1
24      3  Portland Trail Blazers  POR   6.50        2
6       4        Dallas Mavericks  DAL   8.50        2
9       5   Golden State Warriors  GSW   7.00        2
12      6             LA Clippers  LAC   6.00        2
29      7      Washington Wizards  WAS   4.33        3
27      8         Toronto Raptors  TOR   4.67        3
1       9          Boston Celtics  BOS   4.00        3
3      10       Charlotte Hornets  CHA   4.00        3
7      11          Denver Nuggets  DEN   4.33        3
22     12      Philadelphia 76ers  PHI   4.00        3
20     13   Oklahoma City Thunder  OKC   5.67        3
28     14               Utah Jazz  UTA   5.00        3
18     15    New Orleans Pelicans  NOP   3.75        4
14     16       Memphis Grizzlies  MEM   3.25        4
11     17          Indiana Pacers  IND   4.75        4
4      18           Chicago Bulls  CHI   4.00        4
10     19         Houston Rockets  HOU   3.00        5
0      20           Atlanta Hawks  ATL   3.00        5
16     21         Milwaukee Bucks  MIL   2.50        6
17     22  Minnesota Timberwolves  MIN   4.33        6
21     23           Orlando Magic  ORL   2.33        6
8      24         Detroit Pistons  DET   2.17        6
13     25      Los Angeles Lakers  LAL   2.17        6
19     26         New York Knicks  NYK   2.29        7
23     27            Phoenix Suns  PHX   2.00        7
5      28     Cleveland Cavaliers  CLE   2.86        7
25     29        Sacramento Kings  SAC   2.14        7
2      30           Brooklyn Nets  BKN   2.00        8