In [2]:
import os, sys

sys.path.append(os.path.dirname(os.path.dirname(os.path.abspath("__file__"))))
from nbafuns import *
from nba_api.stats.endpoints import leaguedashplayerstats

data_DIR = "../fdata/"

In [1]:
season = "2023"
league = "NBA"

In [3]:
df = pd.read_parquet(data_DIR + league + "_Player_BoxScores_" + "Indv" + "_" + season + ".parquet")
df['Team_Split'] = df['MATCHUP'].str.replace("@","")
df['Team_Split'] = df['Team_Split'].str.replace("vs.","")
df[['Team1','Team2']] = df['Team_Split'].str.split("  ",expand=True)
df1 = df.query("PTS >=30").reset_index(drop=True)
df2 = df1.groupby("Team1")[["PTS"]].agg({"PTS":["count"]})
df2.columns = ["30_For"]
df3 = df2.reset_index().rename(columns={"Team1":"Team"})
df2 = df1.groupby("Team2")[["PTS"]].agg({"PTS":["count"]})
df2.columns = ["30_Against"]
df4 = df2.reset_index().rename(columns={"Team2":"Team"})
df5 = pd.merge(df3,df4,on="Team")
df5["30_Diff"] = df5["30_For"] - df5["30_Against"]
df1 = df.query("PTS >=20").reset_index(drop=True)
df2 = df1.groupby("Team1")[["PTS"]].agg({"PTS":["count"]})
df2.columns = ["20_For"]
df3 = df2.reset_index().rename(columns={"Team1":"Team"})
df2 = df1.groupby("Team2")[["PTS"]].agg({"PTS":["count"]})
df2.columns = ["20_Against"]
df4 = df2.reset_index().rename(columns={"Team2":"Team"})
df6 = pd.merge(df3,df4,on="Team")
df6["20_Diff"] = df6["20_For"] - df6["20_Against"]
df7 = pd.merge(df5,df6,on="Team")

In [4]:
df7

   Team  30_For  30_Against  30_Diff  20_For  20_Against  20_Diff
0   ATL      10          13       -3      41          40        1
1   BKN       8           9       -1      39          42       -3
2   BOS      14           4       10      47          36       11
3   CHA      10           9        1      42          40        2
4   CHI       5           4        1      41          37        4
5   CLE      10           8        2      39          29       10
6   DAL      16          11        5      40          33        7
7   DEN      12           6        6      48          41        7
8   DET       5          12       -7      28          42      -14
9   GSW      11          11        0      34          41       -7
10  HOU       3           9       -6      35          33        2
11  IND       8          19      -11      37          41       -4
12  LAC       8           9       -1      39          31        8
13  LAL      13          10        3      42          38        4
14  MEM      11           5        6      30          35       -5
15  MIA       8           9       -1      40          35        5
16  MIL      22          14        8      41          48       -7
17  MIN       8           8        0      35          29        6
18  NOP       9          10       -1      42          34        8
19  NYK       7          10       -3      44          31       13
20  OKC      17           7       10      33          36       -3
21  ORL       6           6        0      33          36       -3
22  PHI      21           8       13      49          37       12
23  PHX      18          11        7      41          37        4
24  POR       3          14      -11      30          36       -6
25  SAC      10           9        1      36          37       -1
26  SAS       2           7       -5      30          43      -13
27  TOR       6          11       -5      33          40       -7
28  UTA       5          11       -6      26          43      -17
29  WAS       4          16      -12      28          42      -14