# Export NBA and WNBA teams names and IDs to csv file

In [9]:
import pandas as pd
import nba_api

In [10]:
from nba_api.stats.endpoints import leaguestandingsv3 as player_fun

team_table = player_fun.LeagueStandingsV3(
    league_id="00", season="2023-24", season_type="Regular Season"
).get_data_frames()[0]

In [11]:
team_table.sort_values(by=["TeamCity"], inplace=True)
team_table.reset_index(drop=True, inplace=True)

In [12]:
team_table

,LeagueID,SeasonID,TeamID,TeamCity,TeamName,TeamSlug,Conference,ConferenceRecord,PlayoffRank,ClinchIndicator,...,Nov,Dec,Score_80_Plus,Opp_Score_80_Plus,Score_Below_80,Opp_Score_Below_80,TotalPoints,OppTotalPoints,DiffTotalPoints,LeagueGamesBack
0,10,22023,1611661330,Atlanta,Dream,dream,East,11-9,5,- x,...,None,None,16-9,4-20,3-12,15-1,3301,3360,-59,15.0
1,10,22023,1611661329,Chicago,Sky,sky,East,5-15,8,- x,...,None,None,15-4,10-16,3-18,8-6,3269,3334,-65,16.0
2,10,22023,1611661323,Connecticut,Sun,sun,East,14-6,3,- x,...,None,None,22-9,4-12,5-4,23-1,3307,3159,148,7.0
3,10,22023,1611661321,Dallas,Wings,wings,West,11-9,4,- x,...,None,None,18-14,8-15,4-4,14-3,3514,3396,118,12.0
4,10,22023,1611661325,Indiana,Fever,fever,East,5-15,10,- o,...,None,None,11-14,5-23,2-13,8-4,3240,3402,-162,21.0
5,10,22023,1611661319,Las Vegas,Aces,aces,West,18-2,1,- x,...,None,None,33-1,19-4,1-5,15-2,3713,3211,502,0.0
6,10,22023,1611661320,Los Angeles,Sparks,sparks,West,9-11,9,- o,...,None,None,11-5,6-14,6-18,11-9,3156,3221,-65,17.0
7,10,22023,1611661324,Minnesota,Lynx,lynx,West,12-8,6,- x,...,None,None,14-6,10-17,5-15,9-4,3206,3399,-193,15.0
8,10,22023,1611661313,New York,Liberty,liberty,East,16-4,2,- x,...,None,None,29-5,16-8,3-3,16-0,3569,3222,347,2.0
9,10,22023,1611661317,Phoenix,Mercury,mercury,West,2-18,12,- o,...,None,None,7-5,3-25,2-26,6-6,3064,3396,-332,25.0
10,10,22023,1611661328,Seattle,Storm,storm,West,8-12,11,- o,...,None,None,8-10,2-23,3-19,9-6,3153,3378,-225,23.0
11,10,22023,1611661322,Washington,Mystics,mystics,East,9-11,7,- x,...,None,None,12-9,4-19,7-12,15-2,3221,3235,-14,15.0

In [13]:
team_table["Team"] = team_table["TeamCity"] + " " + team_table["TeamName"]

In [14]:
team_data = team_table[["TeamID", "Team"]]
team_data.to_csv("../data/NBA_teams_database.csv", index=False)
team_dict = team_data.to_dict(orient="records")

In [15]:
gdfgfd

NameError: name 'gdfgfd' is not defined

In [ ]:
team_dict
team_id = [x["TeamID"] for x in team_dict]

In [ ]:
def get_teams(league="NBA"):
    team_data = pd.read_csv("..\data\{0}_teams_database.csv".format(league))
    team_dict = team_data.to_dict(orient="records")
    return team_dict

In [ ]:
team_dict = get_teams(league="NBA")
team_dict

[{'TeamID': 1610612762, 'Team': 'Utah Jazz'},
 {'TeamID': 1610612755, 'Team': 'Philadelphia 76ers'},
 {'TeamID': 1610612756, 'Team': 'Phoenix Suns'},
 {'TeamID': 1610612751, 'Team': 'Brooklyn Nets'},
 {'TeamID': 1610612749, 'Team': 'Milwaukee Bucks'},
 {'TeamID': 1610612743, 'Team': 'Denver Nuggets'},
 {'TeamID': 1610612752, 'Team': 'New York Knicks'},
 {'TeamID': 1610612746, 'Team': 'LA Clippers'},
 {'TeamID': 1610612742, 'Team': 'Dallas Mavericks'},
 {'TeamID': 1610612737, 'Team': 'Atlanta Hawks'},
 {'TeamID': 1610612748, 'Team': 'Miami Heat'},
 {'TeamID': 1610612757, 'Team': 'Portland Trail Blazers'},
 {'TeamID': 1610612747, 'Team': 'Los Angeles Lakers'},
 {'TeamID': 1610612738, 'Team': 'Boston Celtics'},
 {'TeamID': 1610612764, 'Team': 'Washington Wizards'},
 {'TeamID': 1610612763, 'Team': 'Memphis Grizzlies'},
 {'TeamID': 1610612744, 'Team': 'Golden State Warriors'},
 {'TeamID': 1610612754, 'Team': 'Indiana Pacers'},
 {'TeamID': 1610612766, 'Team': 'Charlotte Hornets'},
 {'TeamID': 1610612759, 'Team': 'San Antonio Spurs'},
 {'TeamID': 1610612740, 'Team': 'New Orleans Pelicans'},
 {'TeamID': 1610612741, 'Team': 'Chicago Bulls'},
 {'TeamID': 1610612758, 'Team': 'Sacramento Kings'},
 {'TeamID': 1610612761, 'Team': 'Toronto Raptors'},
 {'TeamID': 1610612739, 'Team': 'Cleveland Cavaliers'},
 {'TeamID': 1610612750, 'Team': 'Minnesota Timberwolves'},
 {'TeamID': 1610612753, 'Team': 'Orlando Magic'},
 {'TeamID': 1610612760, 'Team': 'Oklahoma City Thunder'},
 {'TeamID': 1610612765, 'Team': 'Detroit Pistons'},
 {'TeamID': 1610612745, 'Team': 'Houston Rockets'}]