# Create NBA Players database upto 2021

In [1]:
import pandas as pd
import time
from IPython.display import clear_output
import numpy as np
from nba_api.stats.endpoints import commonallplayers as player_info
import json

In [2]:
response = player_info.CommonAllPlayers(is_only_current_season = ['0'],	league_id = ['10'],season=['2021']).get_data_frames()[0]
response['PERSON_ID'] = response['PERSON_ID'].astype(int)
response['FROM_YEAR'] = response['FROM_YEAR'].astype(int)
response['TO_YEAR'] = response['TO_YEAR'].astype(int)
response =response.rename(columns={'PERSON_ID':'pID','DISPLAY_FIRST_LAST':'Name','FROM_YEAR':'From','TO_YEAR':'To'})
data = response[['pID','Name','From','To']]
data.head()

      pID                 Name  From    To
0  203025         Farhiya Abdi  2013  2015
1  100023       Tajama Abraham  1997  1998
2  100658  Svetlana Abrosimova  2001  2012
3  203831      Natalie Achonwa  2015  2021
4  201882        Jessica Adair  2010  2012

In [3]:
data.to_csv ('WNBA_players_database_2021.csv',index=False)