# Create NBA Players database upto 2021

In [1]:
import pandas as pd
import time
from IPython.display import clear_output
import numpy as np
from nba_api.stats.endpoints import commonallplayers as player_info
import json

In [2]:
response = player_info.CommonAllPlayers(is_only_current_season = ['0'],	league_id = ['20'],season=['2021']).get_data_frames()[0]
response['PERSON_ID'] = response['PERSON_ID'].astype(int)
response['FROM_YEAR'] = response['FROM_YEAR'].astype(int)
response['TO_YEAR'] = response['TO_YEAR'].astype(int)
response =response.rename(columns={'PERSON_ID':'pID','DISPLAY_FIRST_LAST':'Name','FROM_YEAR':'From','TO_YEAR':'To'})
data = response[['pID','Name','From','To']]
data.head()

       pID                        Name  From    To
0  1628690              Tyshawn Abbott  2017  2017
1  1627427          Jalil Abdul-Bassit  2015  2015
2  1629240  Muhammad-Ali Abdur-Rahkman  2018  2019
3   203680                Alfred Aboya  2013  2014
4   202868                Jamar Abrams  2011  2011

In [3]:
data.to_csv ('gleague_players_database_2021.csv',index=False)